* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Inter 18pt";
}
body {
  font-family: "Inter 18pt";
  font-weight: normal;
}
@font-face {
  font-family: "Inter 18pt";
  src: url("fonts/Inter18pt-Regular.woff2") format("woff2"),
    url("fonts/Inter18pt-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("fonts/Inter18pt-Medium.woff2") format("woff2"),
    url("fonts/Inter18pt-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("fonts/Inter18pt-Bold.woff2") format("woff2"),
    url("fonts/Inter18pt-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("fonts/Inter18pt-Black.woff2") format("woff2"),
    url("fonts/Inter18pt-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
section.wrapper {
  max-width: 1725px;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid #e2e8f0;
  padding-bottom: 16px;
}

header section.wrapper div.main {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}

header section.wrapper div.main div.left h1 {
  display: flex;
  align-items: center;
  font-weight: 100;
  font-size: 16px;
}
header section.wrapper div.main div.right ul {
  display: flex;
  gap: 24px;
  align-items: center;
}
header section.wrapper div.main div.right ul li a button {
  padding: 7px 7px;
  background-color: #fff;
  border: 1px solid #000;
}
header section.wrapper div.main div.right ul li a button.button {
  padding: 7px 7px;
  background: #334155;
  color: #fff;
  border: 1px solid #000;
}
#spotlight {
  margin-top: 38px;
}
#spotlight section.wrapper div.main {
  display: flex;
  justify-content: space-between;
}
#spotlight section.wrapper div.main div.left {
  margin-top: 105px;
}
#spotlight section.wrapper div.main div.left h1 {
  font-size: 60px;
  line-height: 1.3;
  margin-bottom: 20px;
  color: #0f172a;
}
#spotlight section.wrapper div.main div.left p {
  font-size: 21px;
  line-height: 1.7;
  margin-bottom: 20px;
  color: #334155;
}
#spotlight section.wrapper div.main div.left a button.button {
  padding: 18px 24px 19px 24px;
  border-radius: 8px;
  border: none;
  background: #3b82f6;
  color: #fff;
  font-size: 17px;
}
#spotlight section.wrapper div.main div.right ul li {
  width: 650px;
}
#spotlight section.wrapper div.main div.right ul li img {
  width: 100%;
}
#state {
  margin-top: 100px;
  background: #f8fafc;
}
#state section.wrapper div.item ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 50px 0px;
}
#state section.wrapper div.item ul li {
  border-right: 5px solid #e2e8f0;
  padding-right: 122px;
}
#state section.wrapper div.item ul li:last-child {
  border: none;
  padding: 0;
}
#state section.wrapper div.item ul li h4 {
  font-size: 30px;
  padding-bottom: 8px;
}
#middle {
  margin-top: 50px;
}
#middle section.wrapper div.head {
  display: flex;
  justify-content: space-between;
}
#middle section.wrapper div.head div.right a {
  color: #3b82f6;
}
#middle section.wrapper ul {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  text-align: center;
}
div.holder {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  text-align: center;
}
div.holder div.one {
  width: 260px;
  height: 184px;
  text-align: center;
  padding: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.116);
  border-radius: 15px;
}
div.holder div.two {
  width: 260px;
  height: 184px;
  text-align: center;
  padding: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.116);
  border-radius: 15px;
}
div.holder div.three {
  width: 260px;
  height: 184px;
  text-align: center;
  padding: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.116);
  border-radius: 15px;
}
div.holder div.four {
  width: 260px;
  height: 184px;
  text-align: center;
  padding: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.116);
  border-radius: 15px;
}
div.holder div.two {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.holder h3 a {
  color: #334155;
  font-weight: bold;
  font-size: 21px;
}
div.holder div.one div.image {
  background-color: #e0f2fe;
  border-radius: 60px;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 84px;
  margin-bottom: 16px;
}
div.holder div.two div.image {
  background-color: #e0f2fe;
  border-radius: 60px;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
div.holder div.three div.image {
  background-color: #e0f2fe;
  border-radius: 60px;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 77px;
  margin-bottom: 16px;
}
div.holder div.four div.image {
  background-color: #e0f2fe;
  border-radius: 60px;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 78px;
  margin-bottom: 16px;
}
div.holder p {
  margin-top: 14px;
}

#star {
  padding: 70px 0;
}
#star div.tab {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
#star div.tab div.left h2 {
  font-size: 35px;
  font-weight: bold;
  color: #0f172a;
}
#star div.tab div.right a {
  color: #3b82f6;
}
#star ul {
  display: flex;
  justify-content: space-between;
}
#star ul li.card {
  text-align: left;
  padding: 16px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.116);
  border-radius: 15px;
}
#star ul li.card a img {
  width: 100%;
}
#star ul li.card h3 {
  margin-top: 15px;
  margin-bottom: 10px;
}
#star ul li.card a {
  margin-bottom: 10px;
  display: block;
}
#star ul li.card img small {
  position: relative;
  bottom: 3px;
}
#star ul li.card p {
  margin-top: 10px;
  margin-bottom: 10px;
}
#model {
  padding: 70px 0;
}
#model div.site {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
#model div.site div.left h2 {
  font-size: 35px;
  color: #0f172a;
}
#model div.site div.right a {
  color: #3b82f6;
}
#model ul {
  display: flex;
  justify-content: space-between;
}
#model ul li {
  width: 15%;
  height: 20%;
  text-align: center;
  padding: 17px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.116);
  border-radius: 25px;
}
#model ul li a {
  display: block;
}
#model ul li a img {
  width: 95%;
  background-color: #e0f2fe;
}
div.term {
  margin-top: 13px;
}
div.term h1 {
  display: inline;
  padding-left: 32px;
  font-weight: 100;
}
div.term h1.hai {
  position: relative;
  right: 37px;
  font-weight: 500;
}
#model ul li h3 {
  text-transform: uppercase;
  font-size: 20px;
  color: #0f172a;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}
#model ul li p {
  margin-bottom: 10px;
  color: #334155;
  font-size: 15px;
  font-weight: 100;
}
#model ul li hr.line {
  border: 1px solid #e2e8f0;
  margin-bottom: 10px;
}
#model ul li div.term h1 img {
  font-size: 18px;
  color: #334155;
}

#customer {
  padding: 70px 0;
  background: #f8fafc;
}
#customer div.table {
  justify-content: space-between;
  margin-bottom: 40px;
  display: flex;
}
#customer div.table div.left h2 {
  font-size: 35px;
  color: #0f172a;
  font-weight: bold;
}

#customer div.table div.right img {
  background: #94a3b8;
  height: 17px;
  width: 58px;
  border-radius: 9px;
  padding: 10px 3px;
}

#customer div.tablebody {
  display: flex;
  justify-content: space-between;
}
#customer div.tablebody div.one {
  width: 500px;
  padding: 50px 27px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.226);
  border-radius: 15px;
}
#customer div.tablebody div.one p {
  line-height: 1.5;
  margin-bottom: 10px;
  margin-top: 10px;
  word-spacing: 4px;
  font-size: 19px;
}
#customer div.tablebody h1 a img {
  width: 70px;
  border-radius: 35px;
}
#customer div.tablebody a {
  display: inline-block;
  color: #000;
}
#customer div.tablebody a s {
}
#customer div.tablebody div.one div.re {
  display: inline-block;
}
#customer div.tablebody div.one img {
  width: 100%;
  border-radius: 67px;
}
#customer div.tablebody div.one h1 {
  display: inline; 
}
#customer div.tablebody div.one h1 a s {
  font-size: 17px;
  color: #334155;
  font-weight: 500;
}
#content {
  margin-top: 80px;
}
#content section.wrapper1 {
  max-width: 1545px;
  margin: 0 auto;
}
#content section.wrapper1 section.item {
  display: flex;
  align-items: center;

}

#content {
	margin-top: 80px;
}
#content section.item {
	margin-bottom: 80px;
	display: flex;
	gap: 90px;
}
#content section.item div.imagecontainer {
	width: 35%;
}
#content section.item div.imagecontainer img {
	width: 90%;
	display: block;
}
#content section.item div.contentbox {
	width: 43%;
	padding-top: 20px;
}
#content section.item div.contentbox h1 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #000;
}
#content section.item div.contentbox p {
  color: #1D2939;
	margin-bottom: 16px;
  line-height: 1.8;
  font-size: 20px;
}
#content section.item div.contentbox button.assets {
  display: flex;
  gap: 6px;
  align-items: center;
	padding: 16px 22px;
	border-radius: 9px;
	background: #020617;
	color: #fff;
  border: none;
  width: 338px;
  font-size: 18px;
  
}
#content section.item1 {
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;
}

#content section.item1 div.contentbox h1 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #000;
}
#content section.item1 div.contentbox p {
    color: #1D2939;
    margin-bottom: 16px;
    line-height: 1.8;
    font-size: 20px;
}
#content section.item1 div.contentbox button.assets {
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 16px 22px;
    border-radius: 9px;
    background: #020617;
    color: #fff;
    border: none;
    width: 338px;
    font-size: 18px;
}
#content section.item1 div.imagecontainer {
  width: 38%;
}
#content section.item1 div.imagecontainer img {
	width: 90%;
	display: block;
  margin-bottom: 24px;
}
footer {
  padding: 60px;
  background: #1e293b;
}
footer section.top {
  display: flex;
  justify-content: space-between;
}
footer section.top div.item.nike {
  width: 36%;
}
footer section.top div.item.nike a {
  font-size: 24px;
  max-width: 260px;
  color: #fff;
}
footer section.top div.item.nike a img {
  width: 5%;
}
footer section.top div.item.nike h2 {
  font-size: 17px;
  color: #cbd5e1;
  font-weight: 100;
  margin-top: 20px;
  line-height: 1.5;
}
footer section.top {
  margin-bottom: 50px;
}
footer section.top div.item h5 {
  font-size: 20px;
  font-weight: bold;
  color: #f1f5f9;
  margin-bottom: 10px;
}
footer section.top div.item2 h5 {
  font-size: 20px;
  font-weight: bold;
  color: #f1f5f9;
  margin-bottom: 10px;
}
footer section.top div.item2 ul li {
}
footer section.top div.item ul li {
  margin-right: 15px;
  margin-bottom: 10px;
}
footer section.top div.item2 ul li a {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #cbd5e1;
  margin-bottom: 15px;
}
footer section.top div.item ul li a {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #cbd5e1;
  margin-bottom: 20px;
}
footer section.top div.item ul a img {
    width: 27px;
    background-color: #f1f5f9;
    padding: 5px 5px;
    border-radius: 20px;
    margin-right: 24px;
}

